#prodTitle{
    color: #fff;
    /* background: rgba(255,211,97,0.3); */
}

#empty_bottom{
    height:104px;
}


.products p {
    padding-bottom: 1em;
    color: #fff;

}
.products img{
    padding-bottom: 1em;
}
.products h3{
    color: #fff;
    /* background: rgba(255,211,97,0.3); */

}