

.reviewcard{
    background-color: #ffd361;
    margin:0 2px;
    border-radius: 0.5em;
}

.jumbotron, .reviewcard{
    color: black;
}

.jumbotron {
    background: url(https://picsum.photos/id/165/1183/600) fixed center no-repeat;
    background-size: cover;
    min-height: 600px;
}

ul {
    list-style-type: none;
}


.vertical-center {
    display: flex;
    align-items: center;
}

#submit_button {
    background-color: #ffd361;
    color: #965316;
}