body {
    font-family: 'Lato', sans-serif;
    background-color: #279135;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Almendra SC', sans-serif;
}

header, footer{
    padding: 1em 0;
    background-color: #ffd361 ;
    color: #965316;
}
footer{
    position:sticky;
}

.fab{
    padding: 0 .5em;
    color: #965316;
}
.fa-star{
    color: #ffd361;
}

#logo {
    margin: 0px auto;
    padding-left: 56px
}

@media (min-width:768px) {
    #logo {
        padding-left: 0px;
    }
}